body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}
.left {
    width: 30%;
    float: left;
    text-align: right;
}
.right {
    width: 65%;
    margin-left: 10px;
    float:left;
}